.side_anker {
    -fx-background-color: #E38E49; /* Orange background */
    -fx-background-radius: 8px; /* Rounded corners */
    -fx-text-fill: black; /* Optional: text color */
    -fx-padding: 10px 20px; /* Optional: padding for spacing */
    -fx-cursor: hand; /* Optional: hand cursor on hover */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 10, 0, 0, 3); /* Optional: shadow */
}

.side_anker_dashboard {
    -fx-background-color: #051923;
}

.welcome_background{
    -fx-background-color: #E38E49;
}

.button {
    -fx-background-color: #201E43;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-radius: 15px;
    -fx-background-radius: 8px;
    -fx-padding: 12px 35px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #ff4500, #ff7f50);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 15, 0, 0, 0);
}

.button:pressed {
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

/* Glowing effect */
.button::after {
    -fx-background-color: #333;
    -fx-background-radius: 8px;
}

.button::before {
    -fx-background-color: linear-gradient(
        45deg,
        #FF0000,
        #FF7300,
        #FFFB00,
        #48FF00,
        #00FFD5,
        #002BFF,
        #FF00C8,
        #FF0000
    );
    -fx-background-radius: 8px;
    -fx-effect: gaussian-blur(8px);
    -fx-opacity: 0;
    -fx-background-size: 600%;
    -fx-animation: glowing 20s linear infinite;
}

@keyframes glowing {
    0% { -fx-background-position: 0 0; }
    50% { -fx-background-position: 400% 0; }
    100% { -fx-background-position: 0 0; }
}

.button:hover::before {
    -fx-opacity: 12;
}

.button:pressed::after {
    -fx-background-color: transparent;
}


.KeepNote{
    -fx-background-color: #E1FFBB;
}

.sendbutton:hover {
    -fx-background-color: linear-gradient(to bottom, #ff4500, #ff7f50);
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.8), 15, 0, 0, 0);
}

.sendbutton:pressed {
    -fx-background-color: linear-gradient(to bottom, #ff7f50, #ff4500);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
    -fx-translate-y: 2px;
    -fx-text-fill: #ffffff;
}